    /* Указываем box sizing */
    
    body {
        margin: 0;
        padding: 0;
    }
    
    .header__header {
        margin: 0 auto;
    }
    
    .header__boost {
        margin: 0 auto;
    }
    
    .our__services {
        margin: 0 auto;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Убираем внутренние отступы */
    
    ul[class],
    ol[class] {
        padding: 0;
    }
    
    .header__header {
        width: 1700px;
        height: 93px;
    }
    
    .menu {
        display: flex;
        background-color: #ffffff;
        margin: 22px 81px 23px 265px;
        align-items: center;
    }
    
    .logo {
        margin-right: 313px;
    }
    
    nav {
        margin-right: 174px;
    }
    
    .menu_1,
    a {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 13.5px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #868686;
        text-decoration: none;
    }
    
    a {
        padding: 12px 20px;
        transition: 0.3s;
        cursor: pointer;
    }
    
    a:hover {
        background-color: #ffbb42;
        border-radius: 2px;
        color: #ffffff;
    }
    
    li {
        list-style: none;
    }
    
    .header__boost {
        width: 1700px;
        height: 589px;
        background-color: #709dca;
    }
    
    .user__comment {
        display: flex;
        justify-content: center;
    }
    
    .header__text {
        width: 721px;
        height: 53px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 110px;
    }
    
    .header__text__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #ffffff;
        margin-bottom: 12px;
    }
    
    .header__text__text {
        font-family: 'Gotham';
        font-size: 16px;
        font-weight: 300;
        text-transform: none;
        letter-spacing: normal;
        color: #ffffff;
    }
    
    .header__boost__form {
        text-align: center;
        margin-top: 86px;
        margin-bottom: 67px;
    }
    
    .header__boost__form input {
        width: 281px;
        height: 46px;
        margin-right: 6px;
        padding-left: 15px;
    }
    
    .header__boost__form button {
        width: 211px;
        height: 46px;
        background-color: #ffbb42;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        border: none;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .header__boost__form button:hover {
        transition: 0.5s;
        background-color: #fcae27;
        border-radius: 5px;
    }
    
    .header__boost__slider {
        width: 1700px;
    }
    
    .tv img {
        margin-left: 527px;
        margin-right: 526px;
        margin-bottom: 22px;
    }
    
    .simulate__slider {
        display: flex;
        justify-content: center;
    }
    
    .one {
        border: 2px solid #1ca8dd;
        width: 16px;
        height: 15px;
        border-radius: 50%;
        margin-right: 6px;
        cursor: pointer;
    }
    
    .dote {
        width: 16px;
        height: 15px;
        border: 2px solid #dedfe0;
        border-radius: 50%;
        margin-right: 6px;
        cursor: pointer;
    }
    
    .dote:hover {
        border: 2px solid #1ca8dd;
    }
    
    .our__services {
        width: 1700px;
    }
    
    .services__text {
        width: 370px;
        height: 47px;
        text-align: center;
        margin: 0 auto;
        padding-top: 201px;
        margin-bottom: 142px;
    }
    
    .services__text h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #394b50;
    }
    
    .services__text p {
        font-family: 'Gotham-Black';
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        color: #394b50;
    }
    /* Блок сервиса */
    
    .contain {
        display: flex;
        margin-bottom: 76px;
    }
    
    .left__section,
    .right__section {
        width: 50%;
    }
    
    .fa {
        padding-top: 12px;
    }
    
    .ima-ico {
        padding-left: 10px;
    }
    
    .stuff {
        display: flex;
    }
    
    .fa-clock-o {
        color: #f6772c;
        font-family: 'FontAwesome';
        font-size: 50px;
        line-height: 22px;
        font-weight: 400;
        margin-right: 39px;
    }
    
    .left__section {
        margin-left: 266px;
    }
    
    .right__section {
        margin-right: 269px;
    }
    
    .left__section .stuff__text {
        width: 427px;
    }
    
    .right__section .stuff__text {
        width: 467px;
    }
    
    .stuff__text__title {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #394b50;
        margin-bottom: 21px;
    }
    
    .stuff__text__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #7b7b7b;
        margin-bottom: 79px;
    }
    
    .fa-renren {
        font-family: 'FontAwesome';
        font-size: 50px;
        line-height: 22px;
        font-weight: 400;
        color: #709dca;
        margin-right: 39px;
    }
    
    .fa-graduation-cap {
        font-family: 'FontAwesome';
        font-size: 45px;
        line-height: 22px;
        font-weight: 400;
        color: #709dca;
        margin-right: 21px;
    }
    
    .right__section {
        margin-left: 106px;
    }
    
    .fa-cog {
        font-family: 'FontAwesome';
        font-size: 50px;
        line-height: 22px;
        font-weight: 400;
        color: #709dca;
        margin-right: 37px;
    }
    
    .fa-rocket {
        font-family: 'FontAwesome';
        font-size: 50px;
        line-height: 22px;
        font-weight: 400;
        color: #709dca;
        margin-right: 33px;
    }
    
    .fa-usd {
        font-family: 'FontAwesome';
        font-size: 50px;
        line-height: 22px;
        font-weight: 400;
        color: #709dca;
        margin-right: 40px;
    }
    /* Промежуточная секция */
    
    .about__us__left {
        margin-left: auto;
    }
    
    .about__us__right {
        margin-right: auto;
    }
    
    .about__us__half {
        display: flex;
        margin-bottom: -4px;
    }
    
    .about__us__body {
        width: 850px;
        height: 623px;
        background-image: url(../img/fon.png);
    }
    
    .about__us__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #ffffff;
        padding-top: 164px;
        margin-bottom: 28px;
        padding-left: 80px;
    }
    
    .about__us__text {
        font-family: 'Gotham';
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        width: 505px;
        height: 157px;
        padding-left: 80px;
        margin-bottom: 33px;
    }
    
    .btn {
        width: 145px;
        height: 46px;
        border: 1px solid #e7ad48;
        background-color: #ffc155;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .btn:hover {
        color: #ffc155;
        background-color: #ffffff;
        transition: 0.5s;
        font-weight: 700;
        font-size: 16px;
    }
    
    .about__us__body button {
        margin-left: 80px;
    }
    
    .stuff-img {
        width: 850px;
        height: 623px;
    }
    /* Цена */
    
    .price {
        background-color: #e7edf3;
    }
    
    .price__price {
        width: 1700px;
        height: 898px;
        margin: 0 auto;
    }
    
    .price__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 137px;
    }
    
    .price__title__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #394b50;
        margin-bottom: 10px;
    }
    
    .price__title__text {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 300;
        text-transform: none;
        letter-spacing: normal;
        color: #75888d;
    }
    
    .price__card__box {
        width: 391px;
        height: 441px;
        border: 1px solid #ccd5df;
    }
    
    .price__card__title {
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        line-height: 22px;
        font-weight: 300;
        text-transform: uppercase;
        color: #818b95;
        margin: 57px auto 0px auto;
    }
    
    .price__cost {
        margin-top: 38px;
        margin-bottom: 35px;
    }
    
    .price__card__cost sup {
        font-size: 65%;
        line-height: 1;
        position: relative;
        vertical-align: baseline;
    }
    
    .price__card__cost {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffbb42;
    }
    
    .price__card__box__box {
        text-align: center;
    }
    
    .price__card__cost__down {
        font-size: 12px;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: #818b95;
    }
    
    .line {
        width: 329px;
        height: 1px;
        background-color: #e2e9f0;
        margin: 0 auto;
    }
    
    .price__card__hour,
    .price__card__account,
    .price__card__custom {
        font-family: 'Lato', sans-serif;
        font-size: 13.5px;
        line-height: 40px;
        font-weight: 400;
        text-transform: uppercase;
        color: #b5bbc1;
    }
    
    .get {
        width: 131px;
        height: 42px;
        background-color: #ffbb42;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        margin: 27px 130px 48px 130px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .price__general {
        display: flex;
        justify-content: center;
    }
    
    .get:hover {
        border-radius: 10px;
        background-color: #fdb334;
        transition: 0.5s;
    }
    
    .price__card {
        padding-top: 79px;
    }
    
    .price__cart {
        padding-top: 49px;
    }
    
    .midle {
        width: 395px;
        height: 501px;
        background-color: #709dca;
    }
    /* Средняя секция */
    
    .price__card__title1 {
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        line-height: 22px;
        font-weight: 300;
        text-transform: uppercase;
        color: #818b95;
        margin: 87px auto 0px auto;
        color: #ffffff;
    }
    
    .price__cost1 {
        margin-top: 38px;
        margin-bottom: 35px;
    }
    
    .price__card__cost1 sup {
        font-size: 65%;
        line-height: 1;
        position: relative;
        vertical-align: baseline;
        color: #ffffff;
        font-weight: 100;
    }
    
    .price__card__cost1 {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    .price__card__box__box1 {
        text-align: center;
    }
    
    .price__card__cost__down1 {
        font-size: 12px;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    .price__card__hour1,
    .price__card__account1,
    .price__card__custom1 {
        font-family: 'Lato', sans-serif;
        font-size: 13.5px;
        line-height: 40px;
        font-weight: 400;
        text-transform: uppercase;
        color: #c2e1ff;
    }
    
    .get1 {
        width: 131px;
        height: 42px;
        background-color: #ffbb42;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        margin: 27px 130px 48px 130px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .price__general1 {
        display: flex;
        justify-content: center;
    }
    
    .get1:hover {
        border-radius: 10px;
        background-color: #fdb334;
        transition: 0.5s;
    }
    
    .how__it__works {
        width: 1700px;
        margin: 0 auto;
    }
    
    .how__text {
        margin-top: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .how__text__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #394b50;
        margin-bottom: 8px;
    }
    
    .how__text__text {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 300;
        text-transform: none;
        letter-spacing: normal;
        color: #394b50;
        margin-bottom: 78px;
    }
    
    .step {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 294px;
        margin-right: 293px;
    }
    
    .step__step {
        text-align: center;
        margin-right: 87px;
    }
    
    .text {
        text-align: center;
        margin-bottom: 91px;
    }
    
    .text__title {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #394b50;
        margin-bottom: 28px;
        text-align: center;
    }
    
    .text__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #7b7b7b;
        width: 213px;
        height: 57px;
    }
    
    .step__up {
        margin-bottom: 100px;
        text-align: center;
    }
    
    .first {
        margin-left: 448px;
        margin-right: 165px;
    }
    
    .second {
        margin-right: 171px;
    }
    
    .btn-step {
        width: 165px;
        height: 46px;
        background-color: #ffbb42;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        margin-right: 767px;
        margin-left: 768px;
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 149px;
    }
    
    .btn-step:hover {
        border-radius: 5px;
        background-color: #fcae27;
        transition: 0.5s;
    }
    
    .happy__clients {
        width: 1700px;
        height: 908px;
        background-color: #ffc155;
        margin: 0 auto;
    }
    
    .happy__title {
        padding-top: 141px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .happy__title__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #ffffff;
        margin-bottom: 8px;
    }
    
    .happy__title__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        color: #ffffff;
        letter-spacing: normal;
        margin-bottom: 58px;
    }
    
    .happy__clients__blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .client {
        width: 567px;
        height: 241px;
        background-color: #ffffff;
        margin-right: 36px;
        margin-bottom: 20px;
    }
    
    .client__text {
        padding: 51px 27px 0px 0;
    }
    
    .client img {
        padding: 43px 31px 77px 30px;
        float: left;
    }
    
    .client__comment {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #7b7b7b;
        margin-bottom: 26px;
    }
    
    .client__name {
        font-family: Lato;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        text-transform: uppercase;
        color: #f6772c;
    }
    
    .client__name span {
        color: #7b7b7b;
    }
    
    .newsletter {
        width: 1700px;
        margin: 0 auto;
    }
    
    .container {}
    
    .sletter__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 154px;
        margin-bottom: 38px;
    }
    
    .sletter__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        line-height: 22px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #394b50;
        margin-bottom: 10px;
    }
    
    .sletter__title__text {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: 300;
        text-transform: none;
        letter-spacing: normal;
        color: #75888d;
    }
    
    .sletter__comment .user {
        width: 308px;
        height: 47px;
        padding-left: 17px;
    }
    
    .sletter__comment {
        margin-bottom: 53px;
    }
    
    .sletter__comment .first {
        margin-left: 382px;
    }
    
    .sletter__comment .sec {
        width: 388px;
    }
    
    .sletter__comment input {
        margin-right: 4px;
    }
    
    .slt__btn {
        width: 218px;
        height: 47px;
        background-color: #ffbb42;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        transition: 0.5s;
        cursor: pointer;
        margin-right: 384px;
    }
    
    .slt__btn:hover {
        transition: 0.5s;
        background-color: #fcae27;
        border-radius: 5px;
    }
    
    .map {
        width: 1700px;
        margin: 0 auto;
    }
    
    .contain {
        width: 1102px;
        height: 549px;
        margin: 0 auto;
        background-image: url(../img/map.png);
    }
    
    .cont {
        margin: 0;
    }
    
    .map__map {
        width: 285px;
        height: 298px;
        background-image: url(../img/map__text.png);
        margin: 37px auto 3px;
    }
    
    .map__text {}
    
    .map__text__body {
        padding: 68px 71px 92px 72px;
        text-align: center;
    }
    
    .map__text__body__title {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
    }
    
    .map__text__body__body {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        text-transform: none;
        color: #aeb7ba;
    }
    
    .map__text__body__footer {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        text-transform: none;
        color: #ffbb42;
    }
    
    .logo_down img {
        margin: -16px 0px 0px 118px;
    }
    
    .menu_2 {
        display: flex;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #394b50;
        text-decoration: none;
        margin-top: 126px;
        margin-bottom: 29px;
    }
    
    .menu_2 a {
        padding: 8px 16px;
        transition: 0.3s;
        cursor: pointer;
        color: #394b50;
    }
    
    .tel__number {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 22.6px;
        line-height: 24px;
        font-weight: 400;
        color: #394b50;
        margin-bottom: 23px;
    }
    
    .social__set ul {
        display: flex;
        justify-content: center;
        margin-bottom: 52px;
    }
    
    .social__set a {
        padding: 0;
        margin-right: 17px;
    }
    
    .social__set a:hover {
        background-color: transparent;
    }
    
    .footer__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        padding-top: 10px;
    }
    
    .footer {
        width: 1700px;
        height: 45px;
        background-color: #709dca;
        margin: 0 auto;
    }
    /* Шрифты
                              
                                    font-family: 'Brandon Grotesque Bold';                              
                                                                
                                    font-family: 'Lato', sans-serif;                                
                                                            
                                    font-family: 'Gotham-Black';                                
                                                            
                                    font-family: 'Brandon Grotesque Bold';  
                                    
                                    font-family: 'Open Sans', sans-serif;
                                    
                                    */